body{
    font-family: Arial;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
}

header{
    background: #1e3a8a;
    color: white;
    text-align: center;
    padding: 40px;
}

section{
    background: white;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

h2{
    color: #1e3a8a;
}